
* {
    justify-content: center;
    /* margin: 0 auto; */
}

.flex-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.jumbotron {
    text-align: center;
    border: 1px solid gray;
    padding: 10px;
}

table, .form {
    text-align: left;
    background: lightgray;
    border: 1px solid gray;
}

#new-train-form {
    text-align: left;
    background: lightgray;
    border: 1px solid gray;
    padding: 5px;
}

#new-train-header {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
    font-weight: bold;
    padding: 10px;
}



/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap

Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */